@{
    ViewData["Title"] = "Victory Admin Panel Update Product";
}


@model UpdateProductViewModel



<form asp-area="admin" asp-controller="product" asp-action="update" class="tm-edit-product-form">


    <div class="container tm-mt-big tm-mb-big">
        <div class="row">
            <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tm-block-title d-inline-block">Add Product</h2>
                        </div>
                    </div>
                    <div class="row tm-edit-product-row">
                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <input asp-for="Id" type="hidden" />
                            <div class="form-group mb-3">
                                <label asp-for="Name">
                                    
                                </label>
                                <input id="name"
                                       asp-for="Name"
                                       class="form-control validate"
                                       required />
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="Description">Description</label>
                                <textarea class="form-control validate"
                                asp-for="Description"
                                          rows="3"
                                          required></textarea>
                            </div>
                            <div class="form-group mb-3">
                                <label for="category">Category</label>
                                <select class="custom-select tm-select-accounts"
                                        asp-for="CategoryId"
                                        asp-items="@(new SelectList(ViewBag.Categories,"Id","Name", Model.CategoryId))">

                                    <option value="">Select category</option>

                                </select>
                            </div>
                            <div class="row">
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="expire_date">
                                        Expire Date
                                    </label>
                                    <input id="expire_date"
                                           name="expire_date"
                                           type="text"
                                           class="form-control validate"
                                           data-large-mode="true" />
                                </div>
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label asp-for="Price">
                                    </label>
                                    <input id="stock"
                                           asp-for="Price"
                                           class="form-control validate"
                                           required />
                                </div>
                            </div>

                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                            <div class="tm-product-img-dummy mx-auto">
                                <i class="fas fa-cloud-upload-alt tm-upload-icon"
                                   onclick="document.getElementById('fileInput').click();"></i>
                            </div>
                            <div class="custom-file mt-3 mb-3">
                                <input id="fileInput" type="file" style="display:none;" />
                                <input type="button"
                                       class="btn btn-primary btn-block mx-auto"
                                       value="UPLOAD PRODUCT IMAGE"
                                       onclick="document.getElementById('fileInput').click();" />
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block text-uppercase">Update</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</form>


@section Scripts{

    <script>
        $(function () {
            $("#expire_date").datepicker();
        });
    </script>


    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>



}

 
                        