@using EmployeeApp.Core.ViewModels;
@model EmployeeViewModel

@{
    ViewData["Title"] = "Employee";
}


<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>DepartmentId</th>
             
        </tr>
    </thead>
    <tbody>
         
            <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
                <td>@Model.DepartmentId</td>
            </tr>
         
    </tbody>
</table>