<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Victory.Web</title>


    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="~/victoryAdmin/css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="~/victoryAdmin/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="~/victoryAdmin/css/templatemo-style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--

    Product Admin CSS Template
    https://templatemo.com/tm-524-product-admin
    -->

</head>

<body id="reportsPage">
    <div class="" id="home">

        <nav class="navbar navbar-expand-xl">
            <div class="container h-100">
                <a class="navbar-brand">
                    <h1 class="tm-site-title mb-0">Admin Panel</h1>
                </a>
                <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars tm-nav-icon"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto h-100">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <i class="fas fa-tachometer-alt"></i>
                                Dashboard
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="admin" asp-controller="reservation" asp-action="index" >
                                <i class="fas fa-file-alt"></i>
                                Reservations
                            </a>
                           
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="admin" asp-controller="menu" asp-action="index">
                                <i class="fas fa-book"></i>
                                Menu
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="admin" asp-controller="article" asp-action="index">
                                <i class="fas fa-newspaper"></i>
                                Entries
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-cog"></i>
                                <span>
                                    Others <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="admin" asp-controller="contact" asp-action="index" >Contacts</a>
                                <a class="dropdown-item" asp-area="admin" asp-controller="signup" asp-action="index"  >Sign-Ups</a>
                                <a class="dropdown-item" asp-area="admin" asp-controller="user" asp-action="index">Users</a>
                            </div>
                        </li>
                    </ul>

                    @if (User.Identity!.IsAuthenticated)
                    {
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    
                                    <span>
                                        <i class="fas fa-user"></i>  @User.Identity.Name <i class="fas fa-angle-down"></i>
                                    </span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item"  asp-area="admin" asp-controller="user" asp-action="profile" asp-route-name="@User.Identity.Name" >Profile</a>
                                    <a class="dropdown-item" href="#">Billing</a>
                                    <a class="dropdown-item" href="#">Customize</a>
                                    <a class="dropdown-item" asp-area="admin" asp-controller="auth" asp-action="logout"> <i class="fa-solid fa-power-off"></i> Logout</a>
                                </div>
                            </li>
                        </ul>
                    }
                </div>
            </div>

        </nav>


        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        <footer class="tm-footer row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="text-center text-white mb-0 px-4 small">
                    Copyright &copy; <b>2023</b> All rights reserved.

                    <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Caneriko</a>
                </p>
            </div>
        </footer>

    </div>


    <script src="~/victoryAdmin/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="~/victoryAdmin/js/moment.min.js"></script>
    <!-- https://momentjs.com/ -->
    <script src="~/victoryAdmin/js/Chart.min.js"></script>
    <!-- http://www.chartjs.org/docs/latest/ -->
    <script src="~/victoryAdmin/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="~/victoryAdmin/js/tooplate-scripts.js"></script>
    <script>
        Chart.defaults.global.defaultFontColor = 'white';
        let ctxLine,
            ctxBar,
            ctxPie,
            optionsLine,
            optionsBar,
            optionsPie,
            configLine,
            configBar,
            configPie,
            lineChart;
        barChart, pieChart;
        // DOM is ready
        $(function () {
            drawLineChart(); // Line Chart
            drawBarChart(); // Bar Chart
            drawPieChart(); // Pie Chart

            $(window).resize(function () {
                updateLineChart();
                updateBarChart();
            });
        })
    </script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("NToastNotify")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
