@using Victory.Core.ViewModels.Article;
@{
    ViewData["Title"] = "Victory Admin Panel Add Article";
}

@model AddArticleViewModel 


<form asp-area="admin" asp-controller="article" asp-action="add" method="post" enctype="multipart/form-data" class="tm-edit-product-form">


    <div class="container tm-mt-big tm-mb-big">
        <div class="row">
            <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tm-block-title d-inline-block">Add Article</h2>
                        </div>
                    </div>
                    <div class="row tm-edit-product-row">
                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <input asp-for="ImageType"
                                    type="hidden"
                                   class="form-control validate"
                                   required />

                            <div class="form-group mb-3">
                                <label asp-for="Title">
                                </label>
                                <input 
                                       asp-for="Title"
                                       class="form-control validate"
                                       required />
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="Content"></label>
                                <textarea class="form-control validate"
                                          rows="3"
                                          asp-for="Content"></textarea>
                            </div>

                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                            <div class="tm-product-img-dummy mx-auto">
                                <i class="fas fa-cloud-upload-alt tm-upload-icon"
                                   onclick="document.getElementById('fileInput').click();"></i>
                            </div>
                            <div class="custom-file mt-3 mb-3">
                                <input id="fileInput" asp-for="Photo" type="file" accept="image/*" style="display:none" />
                                <input type="button"
                                       class="btn btn-primary btn-block mx-auto"
                                       value="UPLOAD IMAGE"
                                       onclick="document.getElementById('fileInput').click();" />
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block text-uppercase">Add Article</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</form>


@section Scripts{

    <script>
        $(function () {
            $("#expire_date").datepicker();
        });
    </script>



    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}