@model PasswordChangeViewModel


<div class="wrapper vh-100">


<div class="row align-items-center h-100">
    <form class="col-lg-3 col-md-4 col-10 mx-auto text-center" asp-controller="member" asp-action="passwordchange"  method="post">
         
        <h1 class="h6 mb-3">Şifre Değiştirme</h1>
        <div class="form-group" asp-validation-summary="ModelOnly">
        </div>
        <div class="form-group">
            <label asp-for="OldPassword" class="sr-only"> </label>
            <input type="password" id="inputPassword" asp-for="OldPassword" class="form-control form-control-lg" placeholder="Şifre" required="">
            <span asp-validation-for="OldPassword"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword" class="sr-only"> </label>
            <input type="password" id="inputPassword" asp-for="NewPassword" class="form-control form-control-lg" placeholder="Yeni Şifre" required="">
            <span asp-validation-for="NewPassword"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="sr-only"> </label>
            <input type="password" id="inputPassword" asp-for="ConfirmPassword" class="form-control form-control-lg" placeholder="Şifre Onay" required="">
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
            
        <button class="btn btn-lg btn-primary btn-block" type="submit">Değiştir</button>
        <p class="mt-5 mb-3 text-muted">© 2023</p>
    </form>
</div>

        </div>