 @model List<RoleListViewModel>

<div class="col-12">

    <div class="row align-items-center my-4">
        <div class="col">
            <h2 class="mb-2 page-title">Roller</h2>
        </div>
        <div class="col-auto">
            <a type="button" class="btn btn-primary"  asp-controller="member" asp-action="roleupdate">
                Role Ekle
            </a>
        </div>
    </div>

    <div class="row my-4">
        <!-- Small table -->
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-body">
                    <!-- table -->
                    <table class="table datatables" id="dataTable-1">

                        <thead>
                            <tr>
                                <th></th>
                                <th>#</th>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label"></label>
                                        </div>
                                    </td>
                                    <td>368</td>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                     <td>
                                        <button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="text-muted sr-only">Action</span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" asp-controller="member" asp-action="roleupdate" asp-route-id="@item.Id">Güncelle</a>
                                            <a class="dropdown-item" asp-controller="member" asp-action="roledelete" asp-route-id="@item.Id">Sil</a>
                                            <a class="dropdown-item" href="#">Assign</a>
                                        </div>
                                    </td>
                                </tr>
                            }

                         




                        </tbody>

                    </table>
                </div>
            </div>
        </div> <!-- simple table -->
    </div> <!-- end section -->
</div> <!-- .col-12 -->
@section Scripts {






    <script src='~/admintemp/js/jquery.dataTables.min.js'></script>
    <script src='~/admintemp/js/dataTables.bootstrap4.min.js'></script>

    <script>
        $('#dataTable-1').DataTable(
            {
                autoWidth: true,
                "lengthMenu": [
                    [16, 32, 64, -1],
                    [16, 32, 64, "All"]
                ]
            });
    </script>

}
