@using EmployeeApp.Core.ViewModels;
@model DepartmentWithEmployees

@{
    ViewData["Title"] = "All Employees";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Employees</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
         
            <tr>
                <td>@Model.Name</td>
                <td>@foreach (var item in Model.Employees)
                {
                    @item.Name
                }</td>


                <td>
                    <a class="btn btn-warning" asp-controller="Employee" asp-action="Update" asp-route-id="">Update</a>
                    <a class="btn btn-danger" asp-controller="Employee" asp-action="Remove" asp-route-id="">Delete</a>
                    <a class="btn btn-danger" asp-controller="Employee" asp-action="getbyid" asp-route-id="">Go to Profile</a>
                </td>

            </tr>
         
    </tbody>
</table>
