@model List<UserModel>

@{
    ViewData["Title"] = "UserList";
}

<div class="container">

    <h1>UserList</h1>

    <div class="row">
        <div class="col-md-12">

            <hr>

            <h3>Table</h3>
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Kullanıcı Adı</th>
                        <th>Email</th>
                        
                    </tr>
                </thead>

                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Email</td>

                        </tr>
                    }



                </tbody>
            </table>
        </div>

    </div>

</div>