@model CategoryUpdateViewModel




<div class="col-12 col-xl-10">
    <div class="row align-items-center my-4">
        <div class="col">
            <h2 class="h3 mb-0 page-title">Update Category</h2>
        </div>

    </div>
    <form asp-area="admin" asp-controller="category" asp-action="update" method="post">
        <hr class="my-4">
        <input asp-for="Id" type="hidden" />
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Name">Name</label>
                <input type="text" asp-for="Name" class="form-control">
                <span asp-validation-for="Name"></span>
            </div>

        </div>

        <hr class="my-4">

        <div class="form-row">
            <div class="col-md-6">
                <div class="custom-control">
                    <span>Click on save buttun to save the category</span>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <button type="submit" class="btn btn-primary">Save Change</button>
            </div>
        </div>
    </form>
</div> <!-- .col-12 -->
@section Scripts {

    <script src='~/admintemp/js/jquery.dataTables.min.js'></script>
    <script src='~/admintemp/js/dataTables.bootstrap4.min.js'></script>



}
